.trending-container{
    width: 100%;
    margin-top: 40px;
    background-color: #fff;
    border: 1px solid var(--border-color);
}
.heading{
    background-color: var(--header-color);
    padding: 10px;
    align-items: center;
    color: var(--text-color);
}
.sub-heading{
    width: 95%;
    margin: 20px auto;
    border: 1px solid var(--border-color);
    padding: 10px;
    color: var(--text-color);
    background: #f6f6f6;
}
.trending{
    width: 95%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media(max-width:500px){
    .trending{
        width: 95%;
    }
}