.single{
    width: 220px;
    height: auto;
    border: 1px solid var(--border-color);
    margin: 10px;
    color: var(--text-color);
    padding: 10px;
    cursor: pointer;
}
.single:hover{
    background-color: #f6f6f6;
}


img{
    width: 100%;
    height: auto;
    margin:0 auto 5px;
}
h4{
    text-align: center;  
}
h5{
    margin: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 600px){
    .single{
        width: 150px;
        margin: 10px 0;
        height: auto;
        padding: 10px;
    }
}
@media(max-width: 330px){
    .single{
        width: 120px;
        margin:10px 3px ;
    }
}