.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container input{
    width: 60%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}
.search-container input:focus{
    outline:1px solid #777;
}
.search-container button{
    width: 10%;
    border: none;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    background-color: var(--text-color);
    font-size: 20px;
}
.search-container button:hover{
    background-color: #777;
    transition: .2s;
}
@media(max-width:760px){
    .search-container{
        justify-content: flex-start;
    }
    .search-container button{
        width: 25%;
        font-size: 15px;
    }
}