* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
  scroll-behavior: smooth;
  text-transform: capitalize;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --header-color: #9eeae7;
  --border-color: #bce8f1;
  --text-color: #31708f;
}
.pink{
  width: 95%;
  margin: 20px auto 5px;
  --header-color: #ffc0cb;
  --border-color: #ffb6c1;
  --text-color: #db7093;
}
body{
  background-color: #f6f6f6;
}

.App{
  width: 95%;
  margin: 20px auto 5px;
}
.genres{
  display: flex;
  flex-wrap: wrap;
}

@media(max-width:600px){
  .genres{
    justify-content: space-between;
  }
}